<section class="articleAction view">
    <header>
        <h4> <i class="icon file"></i>
            {{action}}
        </h4>
        <a ui-sref="admin.articleList" class="btn back flat">back List</a>
    </header>
    <div class="postFlex">
        <article>
                <form novalidate ng-submit="articleAction()" name='article' >
                    <div class='field'>
                        <input type="text" placeholder="Write the title here" name="title" ng-model='formData.title' required>
                        <span  class="valid" ng-show="article.title.$invalid && article.title.$dirty">Title Required</span>
                    </div>
                        <textarea name="content" id="content" cols="30" rows="10" ui-tinymce ng-model="formData.content" required></textarea>
                    <button class="add btn flat" ng-disabled="article.$invalid">Submit</button>
                </form>
        {{formData}}
        </article>
        <aside>
            <section>
                <header>
                    <h5>Category</h5>
                </header>
                <ul class="checkboxList">
                    <li ng-repeat ="category in categoryList" class="animatFade">
                        <label  for="" >
                            <input type="checkbox" checklist-model="articleCategory.data" checklist-value="category.id" >
                        </label>
                        {{category.name}}
                    </li>
                </ul>
                {{articleCategory.data}}
                <form novalidate ng-submit="categoryAdd()" name='category'>
                    <input type="text" placeholder="new category" ng-model="cat.name" required>
                    <input type="text" placeholder="description" ng-model="cat.description" required>
                    <button class="add btn flat" ng-disabled="category.$invalid">Add</button>
                </form>
                {{data}}

                <header>
                    <h5>Tag</h5>
                </header>
                <ul class="checkboxList">
                    <li ng-repeat ="tag in tagList" class="animatFade">
                        <label  for="" >
                            <input type="checkbox" checklist-model="articleTag.data" checklist-value="tag.id" >
                        </label>
                        {{tag.name}}
                    </li>
                </ul>
                {{articleTag.data}}
                <form novalidate ng-submit="tagAdd()" name='tag'>
                    <input type="text" placeholder="new tag" ng-model="tg.name" required>
                    <button class="add btn flat" ng-disabled="tag.$invalid">Add</button>
                </form>
                {{data}}
            </section>
        </aside>
    </div>
</section>
<script type="text/ng-template"  id="notify">
    <div class="notify">
        <p>{{ngDialogData.action}} </p>
    </div>
</script>