{% extends "layout.html" %}
{% block content %}
	<section class="row bredcrumbs">

		<nav class="span12 path">
			<ul>
				<li>
					<a href="index.html">Home</a>
				</li>
				<li class="path-active">Error {{ error }}</li>
			</ul>
		</nav>

	</section> <!-- /.row [breadcrumbs] -->

	<section class="row">

		<div class="error-box span12">

			<div class="row">

				<div class="span12 error-message">
					<h1><b>{{ error }}</b> <span>error</span></h1>
				</div>

				<div class="span12">
					<p>The page you are looking for seems to be missing</p>
				</div>

				<div class="span4 offset4">
					<a href="index.html" class="button button-read large-button">Go back</a>
				</div>

			</div> <!-- /.row -->

		</div>



	</section>
{% endblock %}
